.DS_Store
.idea
.vscode
clients/*
generated
integration/SolanaTester/Binaries
integration/SolanaTester/Build
integration/SolanaTester/Saved
integration/SolanaTester/Intermediate
integration/SolanaTester/DerivedDataCache
integration/SolanaTester/Plugins/*/Binaries
integration/SolanaTester/Plugins/*/Build
integration/SolanaTester/Plugins/*/Saved
integration/SolanaTester/Plugins/*/Intermediate
integration/SolanaTester/Plugins/*/DerivedDataCache