{% extends "layout.njk" %}

{% block main %}
#pragma once

{% for program in programsToExport | sort(false, false, 'name') %}

  // `{{ program.name | constantCase }}` program ID.
  const {{ program.name | constantCase | upper }}_ID: PublicKey = PublicKey("{{ program.publicKey }}");
{% endfor %}

{% endblock %}