{% extends "layout.njk" %}

{% block main %}
#pragma once

{{ includes }}

{% for program in programsToExport | sort(false, false, 'name') %}

  // `{{ program.name | constantCase }}` program ID.
  const FPublicKey G{{ program.name | pascalCase }}ID = FPublicKey(TEXT("{{ program.publicKey }}"));
{% endfor %}

{% endblock %}