{% extends "layout.njk" %}
{% import "macros.njk" as macros %}

{% block main %}

class {{ program.name | pascalCase }}Program {
  static GetErrorFromCode(int code) {
    // Not Implemented
  }
  static GetErrorFromName(FString errorName) {
    // Not Implemented
  }
}

{% endblock %}